


body {
  margin: 0;
  background-image: url('/images/bgmain2.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}



.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.app-header {
  display: flex;
  align-items: center;
  padding: 0 10px;
  height: 105px;
  background-color: none;
  border-bottom: 1.5px solid black;
  width: 100%;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  transition: all 0.3 ease;
  z-index: 1000;
}

.app-header.scrolled {
  height: 70px;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
}

.app-header.scrolled .logo img{
  width: 90px;
  height: 60px;
}

.logo {
  display: flex;
  align-items: center;
  color: black;
}

.logo img {
  width: 150px;
  height: 100px;
  margin-right: 10px;
  transition: all 0.3 ease;
}

.main-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  padding-top: 230px;
  padding-left: 190px;
  box-sizing: border-box;
}

.main-content h2 {
  color: black;
}

.main-content p{
  color: black;
}

.meeting-section {
  flex: 2;
  max-width: 60%;
}

.meeting-section h2 {
  font-size: 36px;
  margin-bottom: 20px;
}

.meeting-section p {
  font-size: 18px;
  margin-bottom: 20px;
}

.action-buttons {
  margin-top: 20px;
}

.new-tournament-button, .join-tournament button {
  background-color: #1a73e8;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
}

.new-tournament-button:hover, .join-tournament button:hover {
  background-color: #155bb5;
}

.join-tournament input {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 200px;
  margin-right: 10px;
}

.learn-more-link {
  display: block;
  margin-top: 20px;
  color: #1a73e8;
  text-decoration: none;
}

.create-section {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
}

.create-section img {
  width: 350px;
  height: 130px;
  margin-top: 20px;
}

.text-content {
  text-align: center;
}

.create-section h3, .create-section p {
  margin: 0;
  color: black;
}

.start-event-button {
  background-color: #155bb5;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
}

.start-event-button:hover {
  background-color: #004a9c;
}

